@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* Unchanging colours */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);

    /* Changing colours (light by default) */
    --toggle: hsl(230, 22%, 74%);
    --background: hsl(0, 0%, 100%);
    --top-background: hsl(225, 100%, 98%);
    --card-background: hsl(227, 47%, 96%);
    --text-major: hsl(230, 17%, 14%);
    --text-minor: hsl(228, 12%, 44%);
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-major)
}

body {
    background-color: var(--background);
}

.header {
    background-color: var(--top-background);
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: 30px;
    font-weight: 700;
}

.main {
    width: 100%;
}

.card-bg {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-content {
    background-color: var(--card-background);
    height: 245px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.platform {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.platform-icon {
    height: 14px;
}

.platform-name {
    margin: 0px;
    margin-left: 10px;
    color: var(--text-minor);
    font-weight: 700;
}

.followers-num {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 0px;
}

.followers {
    color: var(--text-minor);
    letter-spacing: 7px;
    position: relative;
    top: -15px;
}

.followers-today {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    height: 7px;
    width: 7px;
}

.followers-today-text {
    margin-bottom: 0px;
    margin-left: 5px;
    color: var(--lime-green);
    font-weight: 700;
}

.negative {
    color: var(--bright-red);
}